[submodule "themes/xmin"]
	path = themes/xmin
	url = https://github.com/yihui/hugo-xmin.git
[submodule "public"]
	path = public
	url = https://github.com/bmeneguele/bmeneguele.github.io
	branch = master
